.App {
  width: 224.67px;
  height: 303px;
  text-align: center;
  display: flex;
  background: #fbe44f;
  flex-direction: column;
  color: #37432f;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.Qrcode{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.App-header {
  background-color: #fbe44f;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-body{
  background-color: #fbe44f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-body-top{
  width: 82.5vw;
  height: 82.5vh;
}
.App-body-bottom{
  width: 100vw;
  height: 17.5vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Bold-line{
 background: #000;
 width: 82.5vw;
 height: 4px;
 margin-top: 5vh;
}
.line{
  background: #000;
  width: 82.5vw;
  height: 1px;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.Cal-week{
  margin-top: 10%;
  height: 5vh;
  font-weight: 600;
}
.Cal-day{
  font-size: 70px;
  font-weight: 600;
  height: 20vh;
  line-height: 20vh;
  margin-top: 5vh;
}
.Cal-fortune{
  font-size: 23px;
  height: 10vh;
  line-height: 10vh;
  margin-top: 5vh;
}
.Cal-text{
  text-align: left;
  font-weight: 600;
}
.Cal-author{
  text-align: left;
  font-weight: lighter;
  font-size: xx-small;
  margin-top: 1vh;
}
.Cal-first{
  text-align: left;
  width: 87vw;
}
.Cal-second{
  text-align: left;
  width: 87vw;
  margin-top: 1vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
